@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-between;
  height:72px;
  align-items:center;
  max-width:1800px;
  margin:0 auto;
}

nav ul {
  display:flex;
  list-style: none;
  gap:24px;
  font-size:23px;

}


button{
  all:unset;
  padding:6px 16px;
  background: red;
  height:32px;
  color:white;
  font-weight: 500;
}
.logon{
  height:100px;
  width:100px;
  margin-right:100px;
}

.amazon{
  width:60px;
  height:40px;
  margin-bottom:4px;
}
.flipkart{
  width:30px;
  height:30px;
  margin-bottom:10px;
  
}
.shoes{
  margin-left:950px;
  margin-top:100px;
  text-align: center;
}

.hero-image {
  flex: 1;
  text-align: right;
  position: relative;
  margin-top:100px;
  margin-left:50px;
}

.shoes {
  height: auto; 
  width: auto; 
  max-height: calc(100% + 500px); 
  max-width: none; 
  position: absolute;
  bottom: 0;
  left: 100px; 
}

.shoes img {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
  background-color: transparent;

}

.hero h1{
  font-weight:800;
  line-height:10px;
  font-size:45px;
}

.hero p{
  font-weight:600;
  color:gray;
}

.hero-btn{
  display:flex;
  gap:40px;
}

.secondary-btn{
  background:transparent;
  color:gray;
  border:1px solid gray;
}


.next{
  margin-top:300px;
  margin-left:100px;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
